.retroarch__container {
  position: relative;
  display: flex;
  aspect-ratio: calc(800 / 600);
  justify-content: center;
}

.retroarch__canvas-box {
  position: relative;
  aspect-ratio: calc(800 / 600);
  max-height: 100%;
  max-width: 100%;
}

.retroarch-load-screen__container {
  position: absolute;
  inset: 0px;

  display: grid;
  align-content: center;
  justify-content: center;

  background: rgb(63, 94, 251);
  background: linear-gradient(
    34deg,
    rgb(63, 94, 251) 0%,
    rgba(151, 60, 136, 0.801) 100%
  );

  color: white;
}

.retroarch-start-screen__container {
  position: absolute;
  inset: 0px;

  display: grid;
  align-content: center;
  justify-content: center;

  background: rgb(63, 94, 251);
  background: linear-gradient(
    34deg,
    rgb(63, 94, 251) 0%,
    rgba(151, 60, 136, 0.801) 100%
  );

  color: white;
}
